<?xml version="1.0" encoding="UTF-8"?>

<!--
	- Application context definition for JPetStore's business layer.
	- Contains bean references to the transaction manager and to the DAOs in
	- dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- ========================= GENERAL DEFINITIONS ========================= -->

	<bean id="jndiTemplate"
		class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">
					weblogic.jndi.WLInitialContextFactory
				</prop>
				<prop key="java.naming.provider.url">
					t3://localhost:7001
				</prop>
			</props>
		</property>
	</bean>
	<bean id="jmsConnectionFactory"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate" ref="jndiTemplate" />
		<property name="jndiName" value="WFConnectionFactory" />
	</bean>
	<bean id="jmsTemplate"
		class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="timeToLive" value="1000" />
		<property name="receiveTimeout" value="1000" />
	</bean>
	<bean id="jmsMAO"
		class="com.anyi.gp.message.jms.impl.BaseJmsMAOImpl">
		<property name="jndiTemplate" ref="jndiTemplate" />
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>
	
	
	<!-- 工作流listener -->
	<bean id="wfMessageQueue" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate" ref="jndiTemplate" />
		<property name="jndiName" value="WFMessageQueue" />	
	</bean>
	<bean id="wfCommandListener" class="com.anyi.gp.workflow.asyn.jmslistener.WfCommandListener">
		<property name="wfService" ref="workflowService" />
	</bean>
	<bean id="wfCommandContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="destination" ref="wfMessageQueue" />
		<property name="messageListener" ref="wfCommandListener" />
		<property name="concurrentConsumers" value="1" />
	</bean>
	<!-- 工作流listener -->
	
</beans>
